#!/bin/bash

# {{ ansible_managed }}
java -jar {{ jenkins_slave_home }}/swarm-client-{{ jenkins_swarm_client_version }}-jar-with-dependencies.jar -name {{ jenkins_slave_name }}  -description "Swarm node" -labels "{{ jenkins_swarm_labels }}" -executors 1 -username {{ jenkins_username }} -password {{ jenkins_password }} -fsroot {{ jenkins_slave_home }} -master {{ jenkins_url }} -disableSslVerification &> {{ jenkins_slave_home }}/swarm-client.log &
